@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #8ac0e1 !important;
  font-family: 'Open Sans', sans-serif;

  .card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 4px 5px rgba(79, 80, 80, .5);
    height: 100%;

    .card-title,
    .card-subtitle {
      text-transform: capitalize;
    }

    .image-container {
      background-size: 40%;
      background-image: url(./assets/darktiles_bg_gike55.jpg);
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      padding: 30px;
      height: 175px;

      &.bridge {
        background-size: auto 100%;
        background-position: center;
        background-image: url(./assets/wide_ggbridge_bg_teneax.jpg)
      }
    }

    .card-img-top {
      max-height: 100%;
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }
  }

  .row {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 992px){
  .col-custom {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}
